<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>website</title>



<link href="https://cdn.jsdelivr.net/npm/beercss@3.5.1/dist/cdn/beer.min.css" rel="stylesheet">

<script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.5.1/dist/cdn/beer.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/petite-vue"></script>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/chibi/3.0.9/chibi-min.js"></script>
-->


<style>
[v-cloak] {display: none;}
	
:root {
--primary:#006493;
--on-primary:#ffffff;
--primary-container:#cae6ff;
--on-primary-container:#001e30;
--secondary:#50606e;
--on-secondary:#ffffff;
--secondary-container:#d3e5f5;
--on-secondary-container:#0c1d29;
--tertiary:#65587b;
--on-tertiary:#ffffff;
--tertiary-container:#ebddff;
--on-tertiary-container:#201634;
--error:#ba1a1a;
--on-error:#ffffff;
--error-container:#ffdad6;
--on-error-container:#410002;
--background:#fcfcff;
--on-background:#1a1c1e;
--surface:#f9f9fc;
--on-surface:#1a1c1e;
--surface-variant:#dde3ea;
--on-surface-variant:#41474d;
--outline:#72787e;
--outline-variant:#c1c7ce;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#2e3133;
--inverse-on-surface:#f0f0f3;
--inverse-primary:#8dcdff;
--surface-dim:#d9dadd;
--surface-bright:#f9f9fc;
--surface-container-lowest:#ffffff;
--surface-container-low:#f3f3f6;
--surface-container:#edeef1;
--surface-container-high:#e8e8eb;
--surface-container-highest:#e2e2e5;
}

:root>.dark{
--primary:#8dcdff;
--on-primary:#00344f;
--primary-container:#004b70;
--on-primary-container:#cae6ff;
--secondary:#b7c9d9;
--on-secondary:#22323f;
--secondary-container:#384956;
--on-secondary-container:#d3e5f5;
--tertiary:#cfc0e8;
--on-tertiary:#362b4b;
--tertiary-container:#4d4162;
--on-tertiary-container:#ebddff;
--error:#ffb4ab;
--on-error:#690005;
--error-container:#93000a;
--on-error-container:#ffb4ab;
--background:#1a1c1e;
--on-background:#e2e2e5;
--surface:#111416;
--on-surface:#e2e2e5;
--surface-variant:#41474d;
--on-surface-variant:#c1c7ce;
--outline:#8b9198;
--outline-variant:#41474d;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#e2e2e5;
--inverse-on-surface:#2e3133;
--inverse-primary:#006493;
--surface-dim:#111416;
--surface-bright:#37393c;
--surface-container-lowest:#0c0e11;
--surface-container-low:#1a1c1e;
--surface-container:#1e2022;
--surface-container-high:#282a2d;
--surface-container-highest:#333537;
}
	
</style>






</head>

<body v-cloak :class="w.theme" id="app">
	

 <nav class="top fixed primary-container">

<button class="circle transparent extra" data-ui="#drawer"><i>menu</i></button>

 	<div class="max"></div>
 	<h5 v-once v-text="w.title"></h5>

 	<div class="max"></div>

 	<button class="chip circle transparent" @click="changeTheme()">
 		<i v-show="w.theme !== 'dark'" class="page top active">light_mode</i>
 		<i v-show="w.theme === 'dark'" class="page top active">dark_mode</i>
 	</button>


 	<button class="chip circle transparent m l" data-ui="#notif_d">
 		<i>notifications</i>
 		<div class="badge">new</div>
 	</button>

 	<button class="chip circle transparent m l" data-ui="#menuDrop">
 		<i>more_vert</i>
 		<menu class="no-wrap left" id="menuDrop">
 			<a class="row"><i>phone</i>Contact</a>
 			<a class="row"><i>info</i>Info</a>
 		</menu>
 	</button>

 </nav>

 <nav class="top-round bottom s">

 	<a @click="url( '/' )" :class="{active: w.url === '/' }">
 		<i>home</i><span>Home</span>
 	</a>

 	<a data-ui="#drawer"><i>widgets</i><span>Menu</span></a>

 	<a @click="url( '/page2' )" :class="{active: w.url === '/page2' }">
 		<div class="badge">-10%</div><i>notifications</i><span>Promotions</span>
 	</a>

 	<a @click="url( '/page3' )" :class="{active: w.url === '/page3' }">
 		<i>share</i><span>Share</span>
 	</a>

 	<a @click="url( '/page4' )" :class="{active: w.url === '/page4' }">
 		<i>info</i><span>Info</span>
 	</a>

 </nav>


 <div><!-- content -->

 	<dialog id="drawer" class="left no-padding">
 		<nav class="drawer" data-ui="#drawer">

 			<header>
 				<nav>
 					<h6 class="max lin" v-once v-text="w.title"></h6>
 					<button class="transparent circle large"><i>close</i></button>
 				</nav>
 			</header>

 			<a v-for="i in w.menu" @click="url(i.url,i.title)" :class="{active: w.url == i.url}">
 				<i v-text="i.icon"></i><span :class="{max: i.tag}" v-text="i.title"></span>
 				<b v-if="i.tag" v-text="i.tag"></b>
 			</a>

 		</nav>
 	</dialog>

 	<dialog id="notif_d">
 		<header>
 			<h1>notifications</h1>
 		</header>
 		<div>notifications</div>
 		<nav class="right-align no-space">
 			<button data-ui="#notif_d" class="transparent link">Close</button>
 		</nav>
 	</dialog>

 	<!-- / content -->
 </div>
 


<main class="responsive">



<template v-if="w.url === '/'"><div class="page active left">



<div class="large space"></div>

<div class="fill medium-height middle-align center-align" id="test">
	
	<div class="center-align">
		<img class="small-height" src="/content/pics/car-hero.png" alt="car">

		<h5 v-once v-text="'welcome to ' + w.title"></h5>
		<p>for more information contact us on</p>
		<nav class="center-align">
			<button class="border round"><i>phone</i></button>
			<button class="green"><i>phone</i> whatsapp</button>
		</nav>
		<div class="space"></div>
	</div>
	
</div>


<div class="divider"></div>
<div class="space"></div>

<h1>our services</h1>
		
<div class="grid">
	
	<div class="s6 m6 l3" @click="url('/cars')">
	<article class=" border">
		<h5 class="link">Cars</h5>
		<p>available Cars</p>
	</article>


	</div>
	
	<div class="s6 m6 l3" @click="url('/tours')">
	<article class=" border">
		<h5 class="link">Tours</h5>
		<p>available tours</p>
	</article>


	</div>

	</div>
  
  
		
		
		
		
	
</div></template>


<template v-else-if="w.url === '/page2'"><div class="page active left">
 <h1>page 2</h1>
 
 
  
<a class="row wave">
	<i>mail</i>
	<div class="max">Default 4</div>
	<span class="badge circle none">3</span>
</a>
 
<a class="row wave">
	<i>mail</i>
	<div class="max">Default 4</div>
	<span class="badge circle none">3</span>
</a>

<a class="row wave">
	<i>mail</i>
	<div class="max">Default 4</div>
	<span class="badge circle none">3</span>
</a>

<a class="row wave">
	<i>mail</i>
	<div class="max">Default 4</div>
	<span class="badge circle none">3</span>
</a>

<a class="row wave">
	<i>mail</i>
	<div class="max">Default 4</div>
	<span class="badge circle none">3</span>
</a>

 
 
 
</div></template>


<template v-else-if="w.url === '/page3'"><div class="page active left">
 <h1>page 3</h1>
</div></template>


<template v-else-if="w.url === '/page4'"><div class="page active left">
 <h1>page 4</h1>
 <div>content</div>
</div></template>


<template v-else-if="w.url === '/cars'"><div class="page active left">
 
	
<div class="space"></div>
<h2>Available Cars</h2> 
   
 <div class="grid" id="cars">

 	<div class="s12 m6 l4" v-for="(i,x) in db.cars">
 		
  <article class="no-padding medium-elevate">
   <div class="grid no-space">
    <div class="s6">
     <img class="responsive" :src="i.img">
     <div class="absolute top left right padding top-shadow white-text">
      <h5 v-text="i.model"></h5>
      <p v-text="i.description"></p>
     </div>
    </div>
    <div class="s6">
     <div class="padding">
      <strong class="large-text right-align top-align" v-text="i.prices.W"></strong>
      <div>
       <a><i>person</i>
        <div class="badge border" v-text="i.size.p"></div>
       </a>
       <a><i>trip</i>
        <div class="badge border" v-text="i.size.b"></div>
       </a>
      </div>

      <div class="space"></div>

      <nav>
       <button class="border round absolute right" :data-ui="'#d' + x">details</button>
      </nav>
     </div>
    </div>
   </div>
  </article>


  <dialog class="modal" :id="'d' + x">

   <header class="fixed">
    <nav class="right-align no-space">
     <button :data-ui="'#d' + x" class="border"><i>close</i></button>
    </nav>
   </header>


   <div>
    <div class="tabs">
     <a :data-ui="'#tA_d' + x" class="active"><i>add_road</i><span>per way</span></a>
     <a :data-ui="'#tB_d' + x"><i>schedule</i><span>per hour</span></a>
     <a :data-ui="'#tC_d' + x"><i>sailing</i><span>Tours</span></a>
    </div>

    <div :id="'tA_d' + x" class="page padding active top scroll">

<table>
 <thead>
  <tr><th>dest</th><th>one Way</th><th>two Ways</th></tr>
 </thead>
 <tbody>
  <tr>
   <td>airport</td><td v-text="i.prices.W"></td><td v-text="i.prices.WW"></td>
  </tr>
  <tr>
   <td>old market</td><td v-text="i.prices.W"></td><td v-text="i.prices.WW"></td></tr>
  <tr>
   <td>hadaba</td> <td v-text="i.prices.W"></td> <td v-text="i.prices.WW"></td>
  </tr>
 </tbody>
</table>

    </div>

    <div :id="'tB_d' + x" class="page padding top">
  
  <table>
 <thead>
  <tr><th>one Hour</th><th>two Hour</th></tr>
 </thead>
 <tbody>
  <tr>
   <td v-text="i.prices.H"></td> <td v-text="i.prices.HH"></td>
  </tr>
 </tbody>
</table>

    </div>

    <div :id="'tC_d' + x" class="page padding top">
     
     <button class="responsive" @click="url('/tours')"><i>link</i> available tours</button>
     
   
    </div>
   </div>


   <footer class="bottom fixed">
    <nav class="left-align no-space">
     
     <a href="https://wa.me/201550579981">
      <button :data-ui="'#d' + x" class="border round">
       <i>phone</i><span>book now</span>
      </button>
      
     </a>

    </nav>
   </footer>



  </dialog>

</div>


</div>

<div class="space"></div>


</div></template>


<template v-else-if="w.url === '/tours'"><div class="page active left">
 
	
<div class="space"></div>
<h2>Available Tours</h2> 
   
 <div class="grid" id="tours">


 	<div class="s12 m6 l4" v-for="(i,x) in db.tours">
 		
 	<article class="no-padding border round large-elevate">
	<img class="responsive top-round medium-elevate" :src="i.img">

	<div class="padding">
		<h5 v-text="i.title"></h5>
		<p v-text="i.description"></p>
		
		<div class="space"></div>
		<button class="border round small-elevate wave" :data-ui="'#dd' + x">Details</button>
		
	</div>
</article>


  <dialog class="modal" :id="'dd' + x">

   <header class="fixed">
    <nav class="right-align no-space">
     <button :data-ui="'#dd' + x" class="border"><i>close</i></button>
    </nav>
   </header>


<div v-text="i.description"></div>


   <footer class="bottom fixed">
    <nav class="left-align no-space">
     
     <a href="https://wa.me/201550579981">
      <button :data-ui="'#dd' + x" class="border round">
       <i>phone</i><span>book now</span>
      </button>
      
     </a>

    </nav>
   </footer>

  </dialog>


</div>


</div>

<div class="space"></div>

 
</div></template>


<template v-else><div class="page active left">
 <h1>404</h1>
 <p>page not found!</p>
</div></template>


</main>


<script>
const db = PetiteVue.reactive({

cars: [
			{
				model: "toyota",	description: "2010",
				img: "content/pics/car1.JPG",
				size: {p: "4", b: "2"},
				prices:{W:'15$',WW:'25$',H:'25$',HH:'35$'}
  },
			{
				model: "mercedes",	description: "S class",
				img: "content/pics/car2.JPG",
				size: {p: "4", b: "2"},
				prices:{W:'25$',WW:'45$',H:'100$',HH:'200$'}
  },
			{
				model: "sedan",	description: "2017",
				img: "content/pics/car3.JPG",
				size: {p: "2", b: "2"},
				prices:{W:'15$',WW:'25$',H:'100$',HH:'200$'}
  },
			{
				model: "mini bus",	description: "up to 12 people",
				img: "content/pics/mini_bus.JPG",
				size: {p: "13", b: "12"},
				prices:{W:'25$',WW:'35$',H:'100$',HH:'200$'}
	},
			{
				model: "bus",	description: "up to 17 people",
				img: "content/pics/bus.JPG",
				size: {p: "20", b: "30"},
				prices:{W:'150$',WW:'250$',H:'200$',HH:'400$'}
  },
  
  ],





tours: [
			{
				title: "city tour",	
				description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua",
				img: "content/pics/car1.JPG",
				prices:{A:'15', CH:'25'}
  },
			{
				title: "boat",	
				description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua",
				img: "content/pics/car2.JPG",
				prices:{A:'15', CH:'25'}
  },
			{
				title: "submarin",
				description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua",
				img: "content/pics/car3.JPG",
				prices:{A:'15', CH:'25'}
  },
			{
				title: "diving",	
				description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua",
				img: "content/pics/mini_bus.JPG",
				prices:{A:'15', CH:'25'}
	},
			{
				title: "pyramids",	
				description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua",
				img: "content/pics/bus.JPG",
				prices:{A:'15', CH:'25'}
  },
  
  ],


  })
</script>


<script> 
PetiteVue.createApp({

db,

	w: {	
		title: "website.com",
		url: "/",
		logo: "/content/logo.jpeg",
		theme: JSON.parse(localStorage.getItem('theme')) || null ,
		
	
	menu: [
	 {title: "Home", url: "/", icon: "home" ,tag:"25"},
	 {title: "promotions", url: "/page2", icon: "link" },
	 {title: "Cars", url: "/cars", icon: "link"},
	 {title: "Tours", url: "/tours", icon: "link"},
				],
				
		
},



changeTheme() {
		 	this.w.theme = this.w.theme !== "dark" ? "dark" : null
      localStorage.setItem('theme', JSON.stringify(this.w.theme));
    },


url(u,t) {	
    	this.w.url = u; 
    	this.w.title = t;
    	window.scroll({ top: 0,	left: 0, behavior: 'smooth' });
    },
    
scrol(id) { 
   	document.getElementById(id).scrollIntoView({behavior: 'smooth'}) 
   },

  
mounted(){

	
},


}).mount("#app")
</script>



</body>

</html>
