<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=Edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>HTML</title>


<link href="https://cdn.jsdelivr.net/npm/beercss@3.5.1/dist/cdn/beer.min.css" rel="stylesheet">

<script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.5.1/dist/cdn/beer.min.js"></script>

<!--
<script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js"></script>
-->


<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>




</head>


<body>
 
<div id="app">
	
 
 <nav class="top fixed fill">
  
 
<button class="circle transparent" data-ui="#drawer"><i>menu</i></button>

<a @click="url(w.url)"><img class="circle" :src="w.logo"></a>
<a @click="url(w.url)"><h5>{{w.title}}</h5></a>


<div class="max"></div>


   <button class="chip circle transparent" @click="changeTheme()">
   <i v-if="w.theme === 'light'" class="page bottom active">light_mode</i>
   <i v-if="w.theme === 'dark'" class="page bottom active">dark_mode</i>
   </button>


   <button class="chip circle transparent m l" data-ui="#notif_d">
    <i>notifications</i>
    <div class="badge">new</div>
   </button>

   <button class="chip circle transparent m l" data-ui="#menuDrop">
    <i>more_vert</i>
    <menu class="no-wrap left" id="menuDrop">
     <a class="row"><i>phone</i>Contact</a>
     <a class="row"><i>info</i>Info</a>
    </menu>
   </button>

  </nav>

 <nav class="top-round bottom s">
 	<a v-for="i in w.nav" @click="url(i.url)" :class="{active: w.url == i.url}">
 		<div v-if="i.tag" class="badge">{{i.tag}}</div>
 		<i>{{i.icon}}</i><span>{{i.title}}</span>
 	</a>
 </nav> 
 


<div><!-- content -->
 
  <dialog id="drawer" class="left no-padding">
   <nav class="drawer" data-ui="#drawer">

    <header>
     <nav>
      <img class="circle" :src="w.logo">
      <h6 class="max lin">{{w.title}}</h6>
      <button class="transparent circle large"><i>close</i></button>
     </nav>
    </header>
    
		<a v-for="i in w.menu" @click="url(i.url)" :class="{active: w.url == i.url}"> 
		<i>{{i.icon}}</i>  <span :class="{max: i.tag}">{{i.title}}</span>
		<b v-if="i.tag">{{i.tag}}</b>
    </a>
 
   </nav>
  </dialog>

  <dialog id="notif_d" class="top">
   <header>
    <h1>notifications</h1>
   </header>
   <div>notifications</div>
   <nav class="right-align no-space">
    <button data-ui="#notif_d" class="transparent link">Close</button>
   </nav>
  </dialog>

  <!-- / content -->
 </div>




 <main class="responsive">
  


	<div class="page left active" id="page1" v-if="w.url == 'page1'">
	
		










  
<div class="space"></div>

<h2>Available Cars</h2> 
   
 <div class="grid" id="car">

 	<div class="s12 m6 l4" v-for="i in cars">
  <article class="no-padding medium-elevate">
   <div class="grid no-space">
    <div class="s6">
     <img class="responsive" :src="i.img">
     <div class="absolute top left right padding top-shadow white-text">
      <h5>{{i.model}}</h5>
      <p>{{i.description}}</p>
     </div>
    </div>
    <div class="s6">
     <div class="padding">
      <strong class="large-text right-align top-align">{{i.price_one_way}}</strong>
      <div>
       <a><i>person</i>
        <div class="badge border">{{i.people}}</div>
       </a>
       <a><i>trip</i>
        <div class="badge border">{{i.bags}}</div>
       </a>
      </div>

      <div class="space"></div>

      <nav>
       <button class="border round absolute right" :data-ui="'#d' + i.id">details</button>
      </nav>
     </div>
    </div>
   </div>
  </article>






  <dialog class="top" :id="'d'+ i.id">

   <header class="fixed">
    <nav class="right-align no-space">
     <button :data-ui="'#d'+ i.id" class="border"><i>close</i></button>
    </nav>
   </header>


   <div>
    <div class="tabs">
     <a :data-ui="'#tA_d'+ i.id" class="active"><i>add_road</i><span>per way</span></a>
     <a :data-ui="'#tB_d'+ i.id"><i>schedule</i><span>per hour</span></a>
     <a :data-ui="'#tC_d'+ i.id"><i>sailing</i><span>Tours</span></a>
    </div>

    <div :id="'tA_d'+ i.id" class="page padding active top scroll">

<table>
 <thead>
  <tr><th>dest</th><th>one Way</th><th>two Ways</th></tr>
 </thead>
 <tbody>
  <tr>
   <td>airport</td><td>{{i.price_one_way}}</td> <td>{{i.price_two_way}}</td>
  </tr>
  <tr>
   <td>old market</td><td>{{i.price_one_way}}</td><td>{{i.price_two_way}}</td></tr>
  <tr>
   <td>hadaba</td> <td>{{i.price_one_way}}</td> <td>{{i.price_two_way}}</td>
  </tr>
 </tbody>
</table>

    </div>

    <div :id="'tB_d'+ i.id" class="page padding top">
  
  <table>
 <thead>
  <tr><th>one Hour</th><th>two Hour</th></tr>
 </thead>
 <tbody>
  <tr>
   <td>{{i.price_one_hour}}</td> <td>{{i.price_two_hour}}</td>
  </tr>
 </tbody>
</table>
  
    </div>

    <div :id="'tC_d'+ i.id" class="page padding top">
     
     <button class="responsive"><i>link</i> available tours</button>
     
   
    </div>
   </div>


   <footer class="bottom fixed">
    <nav class="left-align no-space">
     
     <a href="https://wa.me/201550579981">
      <button :data-ui="'#d'+ i.id" class="border round">
       <i>phone</i><span>book now</span>
      </button>
      
     </a>

    </nav>
   </footer>



  </dialog>














</div>

</div>

<div class="space"></div>
  
  
  









		
		
		
		
	</div><!-- page end -->

	<div class="page left active" id="page2" v-if="w.url == 'page2'"
	><h1>page 2</h1></div><!-- page end -->

  <div class="page left active" id="page3" v-if="w.url == 'page3'">
  	<h1>page 3</h1> </div><!-- page end -->

  <div class="page left active" id="page4" v-if="w.url == 'page4'">
  	<h1>page 4</h1></div><!-- page end -->

  <div class="page left active" id="page5" v-if="w.url == 'page5'">
  	<h1>page 5</h1> </div><!-- page end -->


 </main>









</div>
<script>
const app = Vue.createApp({
 data() {	return {
 	
 
	
	w: {	
		title: "website",
		url: "page1",
		logo: "/content/logo.jpeg",
		theme: JSON.parse(localStorage.getItem('theme')) || "light" ,
		
	
	
	menu: [
	 {title: "menu 1", url: "page1", icon: "link" ,tag:"25"},
	 {title: "menu 2", url: "page2", icon: "link" },
	 {title: "menu 3", url: "page3", icon: "link" },
	 {title: "menu 4", url: "page4", icon: "link" },
	 {title: "menu 5", url: "page5", icon: "link"},
				],
				
	nav: [
	 {title: "Home", url: "page1", icon: "home", },
	 {title: "menu", url: "page2", icon: "widgets"},
	 {title: "bell", url: "page3", icon: "notifications",tag: "new"},
	 {title: "Share", url: "page4", icon: "Share" },
	 {title: "info", url: "page5", icon: "info" },
			 ],
						
},



	cars: [
	{
   id: "1",
   model: "toyota",
   description: "2010",
   people: "4",
   bags: "2",
   img: "/content/pics/car1.JPG",
   price_one_way: "15$",
   price_two_way: "25$",
   price_one_hour: "100$",
   price_two_hour: "200$",
  },
	{
   id: "2",
   model: "mercedes",
   description: "S class",
   people: "4",
   bags: "2",
   img: "/content/pics/car2.JPG",
   price_one_way: "25$",
   price_two_way: "45$",
   price_one_hour: "100$",
   price_two_hour: "200$",
  },
	{
   id: "3",
   model: "sedan",
   description: "2017",
   people: "4",
   bags: "2",
   img: "/content/pics/car3.JPG",
   price_one_way: "15$",
   price_two_way: "25$",
   price_one_hour: "100$",
   price_two_hour: "200$",
  },
	{
   id: "4",
   model: "mini bus",
   description: "up to 12 people",
   people: "13",
   bags: "12",
   img: "/content/pics/mini_bus.JPG",
   price_one_way: "100$",
   price_two_way: "150$",
   price_one_hour: "100$",
   price_two_hour: "200$",
	},
	{
   id: "5",
   model: "bus",
   description: "up to 17 people",
   people: "20",
   bags: "30",
   img: "/content/pics/bus.JPG",
   price_one_way: "150$",
   price_two_way: "250$",
   price_one_hour: "100$",
   price_two_hour: "200$",
  },
  ],



}	},





	mounted() {
		
		this.updateTheme();
	
		
},


methods: {
 
		 changeTheme() {
      if (this.w.theme != "dark") { this.w.theme = "dark"; }
      else { this.w.theme = "light" ; }; 
      localStorage.setItem('theme', JSON.stringify(this.w.theme));
      document.body.className = this.w.theme;
    },
    
    updateTheme(){ document.body.className = this.w.theme; },

    url(url) { 
    	this.w.url = url;
    	window.scrollTo(0, 0);
    	
    },
    

 
},


watch: {
	'$route'() {	window.scrollTo(0, 0);	}
	}


,




})

app.mount('#app')
</script>

</body>
</html>

